Source: ros-groovy-object-recognition-msgs
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-common-msgs, ros-groovy-genmsg, ros-groovy-message-generation, ros-groovy-std-msgs
Homepage: http://www.ros.org/wiki/object_recognition
Standards-Version: 3.9.2

Package: ros-groovy-object-recognition-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-common-msgs, ros-groovy-message-runtime, ros-groovy-std-msgs
Description: Object_recognition_msgs contains the ROS message and the actionlib definition used in object_recognition_core
